<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CoastIntegrationMode</key>
    <string>development</string>
    <key>CoastExpectedBundleIdentifier</key>
    <string>test.duckegg.ios</string>
    <key>CoastPrimaryHost</key>
    <string>https://test-app.bigegg.work</string>
    <key>CoastWebHost</key>
    <string>https://test-h5.bigegg.work/h5_web/v1_0/</string>
    <key>CoastIMHost</key>
    <string>https://test-im.bigegg.work</string>
    <key>CoastLogHost</key>
    <string>https://test-log.bigegg.work</string>
    <key>CoastPrivacyURL</key>
    <string>https://h5.bigegg.work/privacyPolicy.html</string>
    <key>CoastTermsURL</key>
    <string>https://h5.bigegg.work/termConditions.html</string>
    <key>CoastAppStoreID</key>
    <string>6744892295</string>
    <key>CoastAdjustToken</key>
    <string>hewhqhygv8qo</string>
    <key>CoastAdjustPurchaseToken</key>
    <string>feb9rb</string>
    <key>CoastReportSubheading</key>
    <string> - Coast &amp; Wild</string>
    <key>CoastReportDescription</key>
    <string>Outdoor learning and trip planning</string>
    <key>CoastSmallIconName</key>
    <string>coast-hiker</string>
    <key>CoastLaunchImageName</key>
    <string>coast-wide</string>
</dict>
</plist>
