<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CoastIntegrationMode</key>
    <string>development</string>
    <key>CoastExpectedBundleIdentifier</key>
    <string>com.huankecontact.coastwild</string>
    <key>CoastPrimaryHost</key>
    <string>https://test-app.bigegg.work</string>
    <key>CoastPrivacyURL</key>
    <string>https://h5.bigegg.work/privacyPolicy.html</string>
    <key>CoastTermsURL</key>
    <string>https://h5.bigegg.work/termConditions.html</string>
    <key>CoastAppStoreID</key>
    <string>6744892295</string>
</dict>
</plist>
