<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CoastAuthenticationProvider</key>
    <string>firebase-anonymous</string>
    <key>CoastExpectedBundleIdentifier</key>
    <string>com.huankecontact.coastwild</string>
    <key>CoastPrivacyURL</key>
    <string>https://docs.google.com/document/d/1BONvGvpiAzvxY9HDlxbfqMkpn940XtMi6Fvn6d5VG6M/edit</string>
    <key>CoastSupportURL</key>
    <string>https://docs.google.com/document/d/10b0pTTc6ho_taVkYgpNDqt0qWmTvsllIY0iKA-5IrJU/edit</string>
    <key>CoastTermsResource</key>
    <string>terms-en</string>
</dict>
</plist>
